<div class="col-md-12">
<div class="row bg-success">
    <div class="col-md-1 m-t-10">
        <label for="admin-profile-img"><i class="fa fa-camera fa-2x pull-left text-white cursorPointer" aria-hidden="true" title="Edit Profile Picture"></i></label>
        
    </div>
    <div class=" col-xs-6 col-sm-2 thumbnail-wrapper  bg-success text-white inline m-t-10 name-color">

        
            <img class="img-circle" width="150" height="150" src="<%= admin.image ? imgUrl+admin.image : imgUrl+'profiles/avatar.jpg' %>" alt="" id="profile-img-preview">
            <h4></h4>
        
    </div>
    <!-- END Search Result Item Thumbnail !-->
    <div class="col-sm-5 col-sm-offset-1  name-color">
        <h5><%=admin.first_name%><%=admin.last_name%></h5>
        <h5><%=admin.email%></h5>
        <h5><%=admin.phone_num%></h5>

    </div>
</div>    
</div>
<div class="col-sm-12 m-t-15 p-l-0 p-r-0">
<form class="myValidation" role="form" id="admin-settings" novalidate="novalidate" method="post" action="/admin/settings" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title m-t-10">
                        General Info</div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group form-group-default col-md-6 p-l-10">
                            <label>First Name</label>
                            <input type="text" name="fname" class="form-control" required="" value="<%- admin.first_name.trim() %>">
                        </div>
                        <div class="form-group form-group-default col-md-6">
                            <label>Last Name</label>
                            <input type="text" name="lname" class="form-control" required="" value="<%=admin.last_name%>">
                        </div>
                        <input type="file" id="admin-profile-img" class="form-control hide" name="image" data-target="#profile-img-preview" data-act="img-preview">

                       
                    </div>
                    <div class="form-group form-group-default">
                        <label>Mailing Address</label>
                        <input type="text" name="address" class="form-control" required="" value="<%=admin.address.trim()%>">
                    </div>

                    <div class="form-group  form-group-default">
                        <label>Phone</label>
                        <input type="text" name="phone" class="form-control" required="" value="<%=admin.phone.trim()%>" >
                    </div>
                     <div class="text-center">
                        <button class="btn btn-success btn-cons m-b-10 m-t-10 "><span class="bold">Save</span></button>
                    </div>
                </div>
            </div>

        </div>


        <div class="col-md-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        Account Setting</div>
                </div>
                <div class="panel-body">
                    <div class="form-group form-group-default">
                        <label>Email</label>
                        <input type="email" name="email" class="form-control" required="" value="<%=admin.email%>">
                    </div>
                    <div class="form-group form-group-default">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" value="">
                    </div>
                    <div class="form-group form-group-default">
                        <label>Confirm Password</label>
                        <input type="password" name="cpassword" class="form-control" value="">
                    </div>
                    
                    <div>
                        <button class="btn btn-success btn-cons m-b-10 m-t-10"><span class="bold">Change Password</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
                     
</form>
</div>
